body{
    background-color: white;
}

button{
    align-self:center;
    justify-self: end;
}




/*Nav*/
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 20%;
}

header {
    grid-area: header;
    display:flex;
    align-items: center;
    color: beige;
    font-size: 80px;
}

header section {
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}




/*carrito*/

#btnsuma {
    background:rgb(145, 108, 255);
    border: none;
    width: 25px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
 
#btnsuma:hover {
    background: rgb(112, 85, 192);
}

#btnresta {
    background: rgb(193, 173, 255);
    border: none;
    width: 25px;
   
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#btnresta:hover {
    background: rgb(122, 105, 175);
}

 
#finalizarCompra {
    background: rgb(145, 108, 255);
    border: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#finalizarCompra:hover {
    background: rgb(112, 85, 192);
}

 
#vaciar-carrito {
    background: rgb(212, 75, 75);
    border: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#vaciar-carrito:hover {
    background: rgb(167, 59, 59);
}

 

 

/* main */

main {
    display: grid;
    grid-template-areas: "mensaje carro" "productos productos" "footer footer";
    background-color: whitesmoke;
    margin: 50px;
    padding-bottom: 50px;
}

main section{
    grid-area: mensaje;
    font-size: 50px;
    align-self: center;
    text-align: center;
}

.table {
    grid-area: carro;
    align-items: center;
    justify-content:stretch;
    margin-top: 20px;
}

#cards {
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border-color: whitesmoke;
    margin-top: 50px;
    grid-gap: 15px;
}

#cards img {
    width: 250px;
}

.itemtienda {
    display: flex;
    box-shadow: inset;
    background-color: white;
    border-style: outset;
    padding: 20px;
}


.cartel_precio {
    display: flex;
}

#btnagregar {
    background: rgb(145, 108, 255);
    border: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#btnagregar:hover {
    background: rgb(112, 85, 192);
}




/* footer */ 
   
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    color:black;
}
  
footer img {
    width: 40px;
    margin: 20px;
    font-size: large;
}

#redes {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
  
#direc {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
  
#direc span {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 20px;
}
